# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
coverage.xml


# Flask stuff:
instance/
.webassets-cache

# dotenv
.env

# virtualenv
venv/
ENV/
